.contPrincipal {
    background-color: blue;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    font-weight: bold;
    text-align: center;
    .contBuscador {
       top: 5vh;
        height:80vh;
        width:25%;
         margin:0px auto;
        background-color:black;
        box-shadow: 5px 5px 5px 5px;
        border-radius: 20px;
    }
}