<div class="contPrincipal" *ngIf="weatherData">
  <div class="contBuscador">
    <h1>CLIMA</h1>
    <div class="buscar">
      <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Buscar ciudad" name="city" [(ngModel)]="cityName")]>
      </form>
    </div>
    <div class="datos">
      <div class="ubicacion">        {{weatherData.name}}      </div>
      <div class="temperatura">{{weatherData.main.temp| number:'1.0-0'}} ºC</div>
    </div>
    <div class="detalle">
      <h2>Mas información</h2>
      <div class="detalle-min"> Min: {{weatherData.main.temp_min}} </div>
      <div class="detalle-max"> Max: {{weatherData.main.temp_max}} </div>
    </div>
  </div>
  <footer>
    Realizado por: &nbsp;
    <a href="https://www.linkedin.com/in/raqueldiazt"> Diana Raquel Diaz Tapia.</a>
  </footer>
</div>